<html>
<head>
    <title>navbar</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark navbar-fixed-top" th:fragment="navbar (loggedIn, currentUserId)">
        <div class="container-fluid">
            <a class="navbar-brand" href="/recipe/all">
                Recipes
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" th:if="${loggedIn != null && loggedIn == false}">
                        <a class="nav-link active" aria-current="page" href="/login">Login</a>
                    </li>
                    <li class="nav-item" th:if="${loggedIn != null && loggedIn == false}">
                        <a class="nav-link active" aria-current="page" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item" th:if="${loggedIn != null && loggedIn}">
                        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item" th:if="${loggedIn != null && loggedIn}">
                         <a class="nav-link active" aria-current="page" href="/recipe/new"> Add Receipe</a>
                    </li>
                    <li class="nav-item" th:if="${loggedIn != null && loggedIn}">
                        <a class="nav-link active" aria-current="page" href="/search"> Search</a>
                    </li>
                    <li class="nav-item" th:if="${loggedIn != null && loggedIn}">
                        <a class="nav-link active" aria-current="page" th:href="@{'/profile/' + ${currentUserId}}">Profile</a>
                    </li>
                    <li class="nav-item" th:if="${loggedIn != null && loggedIn}">
                        <a class="nav-link active" aria-current="page" href="/events">Event</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>